<div class="container">
  <h1>Perfil</h1> 
  <div class="card col-md-7 mx-auto" style="padding: 20px;">
    <h1 class="h3 mb-3 font-weight-normal">Datos del empleado</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <label>Apellido</label>
        <input type="text" class="form-control" placeholder="Apellido" value="{{empleado.apellido}}">
      </div>
      <div class="col-md-6">
        <label>Oficio</label>
        <input type="text" class="form-control" placeholder="Oficio" value="{{empleado.oficio}}">
      </div>
    </div>
    <div class="col-md-6">
      <label>Salario</label>
      <input type="text" class="form-control" placeholder="Oficio" value="{{empleado.salario}}">
    </div>
  </div>
</div>